*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #ffb6f9,
        #c9b6ff,
        #a0e9ff,
        #ffd6ec
    );

    background-size: 400% 400%;

    animation: unicornBG 10s ease infinite;

    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container{
    text-align: center;
    animation: muncul 1.5s ease;

    background: rgba(255,255,255,0.15);

    padding: 40px;

    border-radius: 30px;

    backdrop-filter: blur(10px);

    box-shadow: 0 0 30px rgba(255,255,255,0.2);
}

.unicorn img{
    width: 170px;
    animation: unicornFloat 3s ease-in-out infinite;
    filter: drop-shadow(0 0 20px white);
    margin-bottom: 20px;
}

h1,
h2{
    font-family: 'Pacifico', cursive;
    color: #ff2e63;
    font-weight: normal;
}

h1{
    font-size: 30px;
    margin-bottom: 5px;
}

.typing{
    font-family: 'Pacifico', cursive;
    color: #ff2e63;
    font-size: 30px;
    margin-bottom: 30px;

    display: inline-block;

    overflow: hidden;
    white-space: nowrap;

    /* CURSOR */
    border-right: 3px solid #ff2e63;

    animation:
        mengetik 6s steps(60, end) forwards,
        blink 0.7s infinite;
}

.typing.done{
    border-right: none;
}

p{
    color: #555;
    font-size: 24px;
    margin-bottom: 15px;
}

.from{
    font-size: 20px;
}

@keyframes muncul{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes naikTurun{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes mengetik{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

@keyframes unicornBG{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

@keyframes unicornFloat{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }

}

body::before{
    content: "";

    position: absolute;

    width: 200%;
    height: 200%;

    background:
        linear-gradient(
            45deg,
            transparent,
            rgba(255,255,255,0.25),
            transparent
        );

    animation: garisMove 8s linear infinite;

    top: -50%;
    left: -50%;

    z-index: 0;
}

.container{
    position: relative;
    z-index: 1;
}

@keyframes garisMove{

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

.start-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background: linear-gradient(
        135deg,
        #ff9a9e,
        #fad0c4,
        #a18cd1,
        #fbc2eb
    );

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;

    cursor: pointer;

    z-index: 9999;
}

.ayat{
    text-align: center;
}

.arti{
    display: block;
    font-size: 8px;
    color: #666;
    margin-top: 5px;
}

.sumber{
    display: block;
    font-size: 8px;
    color: #999;
    margin-top: 5px;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}